/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, font, img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}



/* Links */
.link {
    cursor: pointer;
}



/* Main Elements */
body {
    background: #1b7bbf url("../site_files/Background04.png") no-repeat;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    color: #696969;
    padding-top: 10px;
}






/* Main Container */
#main-container {
    margin: 0px auto;
    width: 640px;
    /*height: 480px;*/
    text-align: center;
    position: relative;
}



/* Header Container */
#header-container {
    margin: 0px auto;
    width: 900px;
    text-align: center;
    padding-bottom: 20px;
}
#header-container img {
    width: 900px;
}



/* Description Container */
#directions-container {
    margin: 0px auto;
    width: 900px;
    /*height: 480px;*/
    background: #FFFFFF;
    padding: 20px;
}
#directions-container h1 {
    text-align: center;
    font-size: 200%;
}
#directions-container p {
    margin-bottom: 10px;
}