div.wrap section.cards article:hover > img.mouseoff {
    display: none;
}
div.wrap section.cards article > img.mouseoff {
    display: block;
}


div.wrap section.cards article:hover > img.mouseon {
    display: block;
}
div.wrap section.cards article > img.mouseon {
    display: none;
}



ul{
  overflow: hidden;
}
li{
  line-height: 1.5em;
  float: left;
  list-style: initial;
  display: list-item;
  margin: 0px 0px 0px 0px;
}
#double li  { width: 50%;}